.page-panier {
  align-items: initial;

  .panier-table {
    .title {
      margin-top: 0;

      @media (max-width: $lg) {
        font-size: 30px;
        text-align: center;
        margin: 15px;
      }
    }

    &__card {
      width: 60vw;
      margin: auto;
      background-color: $primary;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      border-radius: 5px;
      padding: 2.5rem;

      @media (max-width: $md) {
        width: auto;
        padding: 1rem;
      }

      @media (max-width: $sm) {
        width: auto;
        padding: 0.5rem;
      }
    }

    &__table {
      width: 100%;

      thead th, tfoot td { padding: 10px 0; }

      tbody tr:nth-child(even) { background-color: darken($primary, 3%); }
      tbody tr:nth-child(odd) { background-color: lighten($primary, 4%); }
      tbody tr:not(:last-child) {margin-bottom: 1.8em;}

      @media (max-width: $sm) { thead  { display: none; } }

      th:first-child {
        cursor: default;
        opacity: 0;
      }
    }

    .product-row {
      transition: height 150ms, background-color 300ms;

      @media (min-width: $md) {
        transition: font-size 150ms, background-color 300ms;

        img, input {transition: height 150ms;}
      }

      @media (max-width: $sm) {
        display: block;
        position: relative;
        height: 170px;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
        border-radius: 5px;

        :not(:first-child):before {
          content: attr(data-label);
          font-weight: bold;
          text-transform: uppercase;
          float: left;
        }

        td:not(:first-child) {
          display: block;
          width: auto;
          text-align: right;
          padding: 0.5em 1.5em;
          line-height: 20px;
          height: 42px;
        }
      }

      &__delete {
        text-align: center;
        width: 50px;
        cursor: pointer;
        line-height: 10px;

        @media (max-width: $sm) {
          position: absolute;
          right: -5px;
          top: -20px;
          background-color: white;
          height: 30px;
          width: 30px;
          border-radius: 40px;
          box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
          line-height: 24px;
        }
      }

      &__name a,  &__color a {
        text-decoration: underline !important;
        display: flex;

        @media (max-width: $sm) {display: inline;}
      }
      &__color {  width: 120px; }
      &__price, &__number {
        width: 100px;
        text-align: center;

        input { width: 55px; }
      }
    }

    &__total-bill {
      font-weight: bold;
      text-align: right;
      height: 42px;
      line-height: 42px;

      @media (min-width: $md) { margin: 15px 0; }
    }

    &__row-btn {
      display: flex;
      justify-content: flex-end;
    }

    .product-row.remove-row {
      height: 0;
      td { opacity: 0;}

      @media (min-width: $md) {
        font-size: 0;
        img, input {height: 0;}
      }
    }
  }

  .panier-empty {
    text-align: center;

    h2 { @media (max-width: $md) { font-size: 35px } }
  }

  .modal-order {
    .modal-body {
      padding: 2rem;

      @media (max-width: $md) { padding: 1rem;}
      @media (max-width: $sm) { padding: 0.5rem 1rem;}
    }


    &__div-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .title {
        font-size: 2.5rem;
        margin: 0;

        @media (max-width: $sm) { font-size: 1.8rem; }
      }
    }

    .form-group { margin-bottom: 10px;}

    @media (max-width: $sm) {
      button[type=submit] {width: 100%;}
    }
  }
}