.page__product {
  .div-product {
    h1 {
      font-family: "Courgette", sans-serif;
      color: $secondary;
      font-size: 50px;
      text-align: center;
      font-weight: bold;
      margin: 40px 0;

      @media (max-width: $md) {
        margin: 0;
        font-size: 24px;
      }
    }

    &__card {
      display: flex;

      @media (max-width: $md) { flex-direction: column; }
    }

    img {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      width: 60vw;

      @media (max-width: $md) {  width: 95vw;}
    }

    &__infos {
      margin-left: 30px;
      border-radius: 10px;
      background-color: $primary;
      padding: 30px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

      @media (max-width: $md) {
        margin-top: 15px;
        margin-left: 0;
        padding: 15px;
      }
    }

    &__description {
      margin-bottom: 30px;
      text-align: justify;
    }

    input, select {
      display: inline;
      text-align: right;
      padding: 5px;
      height: auto;
    }

    .colors { width: 150px; }
    .nb_product {
      width: 50px;
      margin-bottom: 15px;
    }

    &__price {
      margin-top: 15px;
      color: $secondary;
      text-align: right;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .div-load {
    .div-load__animation {
      position: relative;

      @media (max-width: $md) { transform: scale(0.7) }
    }

    .animation_head {position: absolute; }
    .honey { position: relative; }

    .head_down {
      top: 200px;
      left: 0;
      animation: head_down 3000ms infinite;
    }

    .head_up {
      left: 65px;
      top: 90px;
      animation: head_up 3000ms infinite;
    }

    .head_side {
      right: 65px;
      top: 90px;
      animation: head_side 3000ms infinite;
    }

    @keyframes head_down {
      0% { left: 0; }
      25% { left: -75px; }
      33% { left: 0; }
      100% { left: 0; }
    }

    @keyframes head_side {
      0% { right: 65px; }
      33% { right: 65px; }
      58% { right: -23px; }
      66% { right: 65px; }
      100% { right: 65px; }
    }

    @keyframes head_up {
      0% { top: 90px; }
      66% { top: 90px; }
      92% { top: 10px; }
      100% { top: 90px; }
    }
  }
}
