.page__product {
  .div-product {
    &__card {
      display: flex;
      border-radius: 10px;

      @media (max-width: $md) {
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      }
    }

    &__img {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      overflow: hidden;
      background-color: $primary;
      width: 60vw;

      @media (max-width: $md) {
        border-radius: 10px 10px 0 0;
        padding: 15px;
        width: auto;
        box-shadow: none;
      }

      img { width: 100%}
    }

    &__infos {
      width: 35vw;
      margin-left: 30px;
      border-radius: 10px;
      background-color: $primary;
      padding: 30px;
      font-size: 1.4rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

      @media (max-width: $md) {
        margin-left: 0;
        border-radius: 0 0 10px 10px ;
        box-shadow: none;
        width: auto;
      }

      @media (max-width: $sm) {
        font-size: 1rem;
        padding: 15px;
      }
    }

    h1 {
      font-family: "Courgette", sans-serif;
      color: $secondary;
      font-size: 50px;
      text-align: center;
      font-weight: bold;
      margin: 40px 0;

      @media (max-width: $md) {
        margin: 0 0 30px;
        font-size: 4rem;
      }

      @media (max-width: $sm) {
        margin: 0 0 15px;
        font-size: 3rem;
      }
    }

    &__description {
      margin-bottom: 30px;
      text-align: justify;
    }

    &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $sm) {
        flex-direction: column;
        align-items: stretch;

        > :not(:last-child) {
          margin-bottom: 10px;
        }
      }

      input, select {
        display: inline;
        text-align: right;
        padding: 5px;
        height: auto;
      }

      .colors { width: 150px; }
      .nb_product { width: 50px; }

      &-price {
        margin-top: 15px;
        color: $secondary;
        text-align: right;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}