.badge_basket {
  position: absolute;
  background-color: #905cfb;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 27px;
  height: 24px;
  text-align: center;
  bottom: 11px;
  right: 21px;
}

.empty-basket { opacity: 0}