.bear-sleep {
  .cloud {
    img {
      position: absolute;
      opacity: 0;
      left: 10px;
      top: 15px;
      z-index: 2;
      animation: bear-sleep 2.1s infinite;
    }

    @for $i from 2 through 3 {
      > :nth-child(#{$i}) {
        animation-delay: #{($i - 1) * 700}ms;
      }
    }
  }
}

@keyframes bear-sleep {
  0% { transform: translateX(0); }
  10% { opacity: 1; }
  80% { opacity: 1; }
  100% { transform: translateX(169px); }
}