.container-error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .div-error { text-align: center }

  .title {
    @media (max-width: $sm) {
      font-size: 2rem;
      text-align: center;
    }
  }
}