nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1em 2em;
  background-color: $primary;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  z-index: 550;

  a {
    display: inline-block;
    height: 50px;
  }

  .img-basket {
    transition: transform 300ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}